.list-group-item {
    background: #0000;
    color: #fff;

    margin: 10px 0;
    height: 40px;
}

.TodoItem {
    color: #000;
    margin: 10px 0;
    height: 40px;
    border-radius: 25px;
}

.todo-done {
    border: 2px solid #0f0;
}

.todo-done {
    text-decoration: line-through;
    color: #0f0;
}

.todo-done:hover {
    background: #0f0;
    color: #000;
    -webkit-box-shadow: 0px 0px 25px 10px #0f0;
    -moz-box-shadow: 0px 0px 25px 10px #0f0;
    box-shadow: 0px 0px 25px 10px #0f0;
}

.todo-undone {
    border: 2px solid #000;
}

.todo-undone:hover {
    background: #000;
    color: #fff;
    -webkit-box-shadow: 0px 0px 25px 10px #000;
    -moz-box-shadow: 0px 0px 25px 10px #000;
    box-shadow: 0px 0px 25px 10px #000;
}

.del-todo-item {
    background: #0000;
    border: none;
    text-decoration: none;
    height: 100%;
    border-radius: 0 25px 25px 0;
    
}

.del-todo-item:hover {
    background: #f00;
    color: #fff;
    -webkit-box-shadow: 0px 0px 25px 10px #f00;
    -moz-box-shadow: 0px 0px 25px 10px #f00;
    box-shadow: 0px 0px 25px 10px #f00;
}

.edit-todo-item {
    background: #0000;
    border: none;
    text-decoration: none;
    height: 100%;
    border-radius: 0 25px 25px 0;
    
}

.edit-todo-item:hover {
    background: #880;
    color: #fff;
    -webkit-box-shadow: 0px 0px 25px 10px #880;
    -moz-box-shadow: 0px 0px 25px 10px #880;
    box-shadow: 0px 0px 25px 10px #880;
}
