.search {
    border-radius: 25px;
    height: 6vh;
}

.reset-search {
    border-radius: 25px;
    height: 6vh;
    background: #f00;
    color: #fff;
}

.reset-search:hover {
    -webkit-box-shadow: 0px 0px 25px 10px #f00;
    -moz-box-shadow: 0px 0px 25px 10px #f00;
    box-shadow: 0px 0px 25px 10px #f00;
    color: #fff;
}